@import url("https://rsms.me/inter/inter.css");

:root {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu Mono",
    "Liberation Mono", "Courier New", Courier, monospace;

  --font-weight-body: 400;
  /* --font-weight-subheading: 500;  */
  --font-weight-button: 600;
  --font-weight-bold: 700;
  --font-weight-heading: 800;

  --colors-gray-0: #fafbfc;
  --colors-gray-1: #f6f8fa;
  --colors-gray-2: #e1e4e8;
  --colors-gray-3: #d1d5da;
  --colors-gray-4: #959da5;
  --colors-gray-5: #6a737d;
  --colors-gray-6: #586069;
  --colors-gray-7: #444d56;
  --colors-gray-8: #2f363d;
  --colors-gray-9: #24292e;

  --colors-yellow-0: #fffdef;
  --colors-yellow-1: #fffbdd;
  --colors-yellow-2: #fff5b1;
  --colors-yellow-3: #ffea7f;
  --colors-yellow-4: #ffdf5d;
  --colors-yellow-5: #ffd33d;
  --colors-yellow-6: #f9c513;
  --colors-yellow-7: #dbab09;
  --colors-yellow-8: #b08800;
  --colors-yellow-9: #735c0f;

  --colors-blue-0: #f1f8ff;
  --colors-blue-1: #dbedff;
  --colors-blue-2: #c8e1ff;
  --colors-blue-3: #79b8ff;
  --colors-blue-4: #2188ff;
  --colors-blue-5: #0366d6;
  --colors-blue-6: #005cc5;
  --colors-blue-7: #044289;
  --colors-blue-8: #032f62;
  --colors-blue-9: #05264c;

  --colors-orange-0: #fff8f2;
  --colors-orange-1: #ffebda;
  --colors-orange-2: #ffd1ac;
  --colors-orange-3: #ffab70;
  --colors-orange-4: #fb8532;
  --colors-orange-5: #f66a0a;
  --colors-orange-6: #e36209;
  --colors-orange-7: #d15704;
  --colors-orange-8: #c24e00;
  --colors-orange-9: #a04100;

  --colors-primary: blue;
  --colors-secondary: green;
  --colors-accent: red;
  --colors-muted: #777;

  --line-height-body: 1.5;
  --line-height-heading: 1.5;

  /* --font-size-0: 2.75rem;
  --font-size-1: 2.25rem;
  --font-size-2: 1.875rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.2rem;
  --font-size-5: 1rem;
  --font-size-6: 0.8rem;
   */
  --font-size-0: 3rem;
  --font-size-1: 2.5rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.75rem;

  --space-0: 0;
  --space-1: 0.25rem; /* 4 */
  --space-2: 0.5rem; /* 8 */
  --space-3: 1rem; /* 16 */
  --space-4: 1.5rem; /* 24 */
  --space-5: 2rem; /* 32 */
  --space-6: 2.5rem; /* 40 */

  --colors-link: var(--colors-blue-5);
  --colors-text-code: #eb5757;
  --colors-text-0: #050505;
  --colors-text-1: #2f3037;
  --colors-text-2: #525560;
  --colors-text-3: #686b78;
  --colors-text-button: #ffffff;
  --colors-background-0: #fcfcfc;
  --colors-background-1: #ffffff;
  --colors-background-inset: #eff0f5;
  --border-basic: 1px solid var(--colors-gray-2);
  --border-hover: 1px solid var(--colors-gray-4);
  --border-focus: 1px solid var(--colors-blue-5);
  --border-radius-small: 4px;

  --baseline: 1rem;
  --offset: 0;
  --color: hsla(286, 100%, 53%, 0.5);
  --select-caret: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 0 24 24' width='32'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  --select-caret-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 0 24 24' width='32'%3E%3Cpath d='M7 10l5 5 5-5z' fill='%232f3037'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-text-0: #fbfbfc;
    --colors-text-1: #dedfe5;
    --colors-text-2: #a9abb6;
    --colors-text-3: #9094a6;
    --colors-link: var(--colors-blue-4);
    --colors-background-0: #050505;
    --colors-background-1: #151617;
    --colors-background-inset: var(--colors-gray-9);
    --border-basic: 1px solid var(--colors-gray-6);
    --border-hover: 1px solid var(--colors-gray-4);
    --border-focus: 1px solid var(--colors-blue-5);
    --select-caret: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 0 24 24' width='32'%3E%3Cpath d='M7 10l5 5 5-5z' fill='white'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    --select-caret-disabled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 0 24 24' width='32'%3E%3Cpath d='M7 10l5 5 5-5z' fill='%23dedfe5'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  }
}

/* Settings */

*,
::after,
::before {
  box-sizing: border-box;
}

/* https://www.smashingmagazine.com/2019/07/margins-in-css/ */
/* https://alistapart.com/article/settingtypeontheweb/ */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-sans);
  line-sizing: normal;
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
  color: var(--colors-text-0);
  background-color: var(--colors-background-0);

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", var(--font-sans);
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: var(--line-height-body);
}

button,
[role="button"] {
  cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Opinions--------------------*/

body {
  padding: var(--space-3);
  max-width: 80ch;
  margin: auto;
}

/* Typography */
h1 {
  font-size: var(--font-size-0);
  /* Remove margins added by normalize.css  */
  margin: 0;
}
h2 {
  font-size: var(--font-size-1);
}
h3 {
  font-size: var(--font-size-2);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-4);
}
h6 {
  font-size: var(--font-size-6);
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}

p {
  font-size: var(--font-size-5);
}

small {
  font-size: var(--font-size-6);
}

/* https://csswizardry.com/2012/06/single-direction-margin-declarations/ */
/* Add bottom margin to most block-level elements */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements */

address,
article,
aside,
blockquote,
details,
dialog,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
/* li, ignored */
main,
nav,
ol,
p,
pre,
section,
table,
ul,
/* buttons and inputs */
button,
input,
select,
textarea
/* input[type="submit"],
input[type="button"],
input[type="reset"], */
/* input fields */ {
  margin-bottom: var(--space-4);
}

address:last-child,
article:last-child,
aside:last-child,
blockquote:last-child,
details:last-child,
dialog:last-child,
dd:last-child,
div:last-child,
dl:last-child,
dt:last-child,
fieldset:last-child,
figcaption:last-child,
figure:last-child,
footer:last-child,
form:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
header:last-child,
hgroup:last-child,
hr:last-child,
main:last-child,
nav:last-child,
ol:last-child,
p:last-child,
pre:last-child,
section:last-child,
table:last-child,
ul:last-child,

/* inputs */
input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 0;
}

/* Input elements */

fieldset {
  padding: var(--space-3);
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
}
legend {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  font-size: var(--font-size-6);
}

input,
select {
  display: block;
  padding: var(--space-2);
  background: var(--colors-background-0);
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
  color: var(--colors-text-1);
}

input:focus,
select:focus,
textarea:focus {
  border: var(--border-focus);
}

input:hover:not([disabled]):not(:focus):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="range"]),
select:hover:not([disabled]):not(:focus),
textarea:hover:not([disabled]):not(:focus) {
  border: var(--border-hover);
}

input::placeholder,
textarea::placeholder {
  color: var(--colors-text-3);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--colors-text-3);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--colors-text-3);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--colors-text-3);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--colors-text-3);
}

/* There isn't good a way to remove the clear (x) button from the "date" and "time" input fields in Firefox without adding "required".
 * See https://stackoverflow.com/a/47913738
 */
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[disabled],
textarea[disabled] {
  background-color: var(--colors-background-inset);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="color"] {
  min-height: calc(2.5rem + 2px);
}

input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

input[type="datetime-local"]::before,
input[type="week"]::before,
input[type="month"]::before,
input[type="date"]::before {
  position: absolute;
  right: 0;
  background-image: var(--select-caret);
  background-repeat: no-repeat;
  background-position: right 0.2em top 50%;
  background-size: 2em auto;
  width: 2.5rem;
  height: 2.5rem;
  content: "";
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  opacity: 0;
}

input[type="range"] {
  overflow: visible;
  line-height: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  border: none;
  min-height: 2rem;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: var(--border-radius-small);
  background-color: var(--colors-gray-3);
  background-image: linear-gradient(var(--colors-gray-3), var(--colors-gray-3));
  width: 100%;
  height: 0.5rem;
  color: transparent;
  box-sizing: border-box;
  position: relative;
}

input[type="range"]::-moz-range-track {
  cursor: pointer;
  -moz-appearance: none;
  border-radius: var(--border-radius-small);
  background-color: var(--colors-gray-3);
  background-image: linear-gradient(var(--colors-gray-3), var(--colors-gray-3));
  width: 100%;
  height: 0.5rem;
  color: transparent;
  box-sizing: border-box;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  -ms-appearance: none;
  border-radius: var(--border-radius-small);
  background-color: var(--colors-gray-3);
  background-image: linear-gradient(var(--colors-gray-3), var(--colors-gray-3));
  width: 100%;
  height: 0.5rem;
  color: transparent;
  box-sizing: border-box;
}

input[type="range"]::-ms-fill-lower {
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: var(--colors-blue-4);
  width: 1.5rem;
  height: 1.5rem;

  /* Absolute positioning doesn't work in Safari, so we manually position here */
  margin-top: -0.5rem;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
  background-color: var(--colors-blue-4);
  width: 1.5rem;
  height: 1.5rem;
}
input[type="range"]::-ms-thumb {
  cursor: pointer;
  -ms-appearance: none;
  border-radius: 50%;
  background-color: var(--colors-blue-4);
  width: 1.5rem;
  height: 1.5rem;
}

input[type="range"]:active:not(:disabled)::-webkit-slider-thumb {
  background-color: var(--colors-blue-5);
}

input[type="range"]:active:not(:disabled)::-moz-range-thumb {
  background-color: var(--colors-blue-5);
}

input[type="range"]:active:not(:disabled)::-ms-thumb {
  background-color: var(--colors-blue-5);
}

input[type="range"]:focus:not(:disabled)::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.125rem var(--colors-blue-3);
}

input[type="range"]:focus:not(:disabled)::-moz-range-thumb {
  box-shadow: 0 0 0 0.125rem var(--colors-blue-3);
}

input[type="range"]:focus:not(:disabled)::-ms-thumb {
  box-shadow: 0 0 0 0.125rem var(--colors-blue-3);
}

input[type="range"]:disabled {
  cursor: default;
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
  cursor: default;
}

input[type="range"]:disabled::-moz-range-track {
  cursor: default;
}

input[type="range"]:disabled::-ms-track {
  cursor: default;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background-color: var(--colors-gray-3);
  cursor: default;
}
input[type="range"]:disabled::-moz-range-thumb {
  background-color: var(--colors-gray-3);
  cursor: default;
}

input[type="range"]:disabled::-ms-thumb {
  background-color: var(--colors-gray-3);
  cursor: default;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
  background-color: var(--colors-background-0);
  min-height: calc(2.5rem + 2px);
  color: var(--colors-text-1);
}

/* Adapted from https://codepen.io/chriscoyier/pen/zYYZaGP */
select:not([multiple]) {
  background-image: var(--select-caret);
  background-repeat: no-repeat, repeat;
  background-position: right 0.2em top 50%;
  background-size: 2em auto;
  padding-right: 2.5em;
}

/* Hover style */
select:not([multiple]):hover {
  cursor: pointer;
}

/* Hide arrow icon in IE browsers */
select::-ms-expand {
  display: none;
}

/* Disabled styles */
select:not([multiple]):disabled {
  background-image: var(--select-caret-disabled);
  background-color: var(--colors-background-inset);
  cursor: default;
}

select[multiple] {
  border-radius: var(--border-radius-small);
}

select[multiple]:disabled {
  background-color: var(--colors-background-inset);
}

textarea {
  display: block;
  padding: var(--space-2);
  resize: vertical;
  background: var(--colors-background-0);
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
  color: var(--colors-text-1);
  /* the 2px is for top and bottom borders */
  min-height: calc(2.5rem + 2px);
}

/* Buttons */

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-block;
  background-color: var(--colors-blue-4);
  border-radius: var(--border-radius-small);
  color: var(--colors-text-button);
  font-weight: var(--font-weight-button);
  height: 2.5rem;
  border: none;
  padding: var(--space-2) var(--space-3);
  white-space: nowrap;
}

input::-webkit-file-upload-button {
  display: inline-block;
  background-color: var(--colors-blue-4);
  border-radius: var(--border-radius-small);
  color: var(--colors-text-button);
  font-weight: var(--font-weight-button);
  height: 2.5rem;
  border: none;
  padding: var(--space-2) var(--space-3);
  white-space: nowrap;
}

input:disabled::-webkit-file-upload-button {
  cursor: default;
  opacity: 0.5;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

input:not(:disabled)::-webkit-file-upload-button {
  cursor: pointer;
}

button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
input[type="reset"]:hover:not(:disabled) {
  background-color: var(--colors-blue-5);
}

input:not(:disabled):hover::-webkit-file-upload-button {
  background-color: var(--colors-blue-5);
}

button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--colors-blue-4);
}

/* Tables */
table {
  border: var(--border-basic);
  border-collapse: collapse;
  border-radius: var(--border-radius-small);
  width: 100%;
}

thead tr,
tfoot tr {
  background-color: var(--colors-background-inset);
  font-size: var(--font-size-6);
  text-transform: uppercase;
  color: var(--colors-text-1);
}

td,
th {
  border: var(--border-basic) 0;
  text-align: left;
  padding: 0.5rem;
}

tr {
  border-bottom: var(--border-basic);
}

table caption {
  padding: 0.5rem;
  font-weight: bold;
}

/* Code */
code,
samp {
  padding: 0.2em 0.4em;
  color: var(--colors-text-code);
}

pre,
code,
samp {
  font-family: var(--font-mono);
  line-height: var(--line-height-body);
  background-color: var(--colors-background-inset);
  border-radius: var(--border-radius-small);
}

pre {
  padding: var(--space-3);
  color: var(--colors-text-1);
  white-space: pre-wrap;
}

var {
  font-family: var(--font-mono);
  color: var(--colors-text-1);
  font-style: normal;
}

pre code {
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

kbd {
  background-color: var(--colors-gray-3);
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
  border-bottom: 2px solid var(--colors-gray-4);
  padding: var(--space-1);
  font-family: var(--font-sans);
  color: var(--colors-gray-8);
}

/* Links */
a {
  text-decoration: none;
  color: var(--colors-link);
  font-weight: var(--font-weight-button);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--colors-link);
}

/* Lists */
ul,
ol {
  padding-left: var(--space-5);
}

/* Other */

time {
  font-size: var(--font-size-6);
  color: var(--colors-text-2);
}

mark {
  background: var(--colors-yellow-5);
}

iframe {
  border: var(--border-basic);
  border-radius: var(--border-radius-small);
}

hr {
  border: none;
  border-bottom: var(--border-basic);
}

footer {
  font-size: var(--font-size-6);
  color: var(--colors-text-1);
}

blockquote {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--space-5);
  color: var(--colors-text-1);
}

blockquote::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 4px;
  left: 0;
  border-radius: var(--border-radius-small);
  background-color: var(--colors-text-3);
}

dd {
  margin: 0;
  padding-left: var(--space-5);
}

abbr {
  cursor: help;
}

/* TODO

fix input outline (remove the native ring)

select has wrong colors
select icon
browser highlight
Dark mode

Use own colors
Optimize

Lots of testing

accessibility audit
- disabled input on night mode is bad contrast

file size audit

don't do this: min-height: calc(2.5rem + 2px);



A demo page with everything



*/
