/*! OK.css v1.2.3 | MIT License | github.com/andrewh0/okcss */

/**
 * Table styles for data display.
 * Includes: tables, thead, tbody, tfoot, captions.
 * Requires core.css for CSS variables.
 */

/* Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  /*
  Use `display: table` for proper screen reader support and
  allow sticky header and footer
  */
  display: table;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  margin-bottom: var(--ok-s-4);
}

table:last-child {
  margin-bottom: 0;
}

thead,
tfoot {
  border: var(--ok-b-0);
}

/*
tfoot is not sticky because captions are shown above the table
and the footer can cover the caption.
*/
thead {
  /*
  In Chrome 91 there's a rendering bug that can show a 1px gap
  when there's a border.
  */
  position: sticky;
  top: 0;
}

thead tr,
tfoot tr {
  background-color: var(--ok-bg-1);
  font-size: var(--ok-fs-5);
  text-transform: uppercase;
  color: var(--ok-tc-0);
}

td,
th {
  border: var(--ok-b-0) 0;
  text-align: left;
  padding: 0.5rem;
}

td {
  white-space: normal;
  max-width: 20ch;
}

tr {
  border: var(--ok-b-0);
}

table caption {
  font-size: var(--ok-fs-4);
  font-weight: var(--ok-fw-3);
  padding: 0.5rem;
}
